#! /bin/bash -f

# set ncelab command line args
ncelab_opts="-64bit -relax -access +rwc -namemap_mixgen -messages"
{% if elab_opts %}
ncelab_opts+=" {{ elab_opts }}"
{% endif %}

{%- if elaborate_log %}
ncelab_opts+=" -logfile {{ elaborate_log }} -append_log -update"
{% else %}
ncelab_opts+=" -logfile nc_elaborate.log -append_log -update"
{% endif %}

# set design libraries
design_libs_elab=""
{% if link_libs %}
{% for lib in link_libs %}
design_libs_elab+="-libname {{ lib }} "
{% endfor %}
{% endif %}

{% if toplevel %}
ncelab $ncelab_opts $design_libs_elab worklib.{{ toplevel }}
{% endif %}
