#! /bin/bash -f
set -Euo pipefail

print_by_line() {
  if [[ $# < 1 ]]; then
    return 0;
  fi
  data=$1
  oldIFS="$IFS"
  IFS='\n'
  IFS=${IFS:0:1}
  lines=( $data )
  IFS="$oldIFS"
  for line in "${lines[@]}"
  do
      echo "$line"
  done
}

if [ -z ${build_dir+x} ]; then
  mkdir -p ./waves
else
  mkdir -p $build_dir/waves
fi

if [[ $# > 1 ]]; then
  echo -e "ERROR: invalid number of arguments specified\n"
  usage
fi

if [[ ($# == 1 ) && ($1 != "--gui") ]]; then
  echo -e "ERROR: unknown option specified '$1'"
  exit 1
fi

ncsim_opts="+acssce+rwc -messages"
{% if sim_opts %}
ncsim_opts+=" {{ sim_opts }}"
{% endif %}

{% if simulate_log %}
rm -rf {{simulate_log}}
ncsim_opts+=" -logfile {{ simulate_log }}"
{% else %}
rm -rf nc_simulate.log
ncsim_opts+=" -logfile nc_simulate.log"
{% endif %}

{% if use_uvm %}
UVM_PATH="$CDSHOME/tools/methodology/UVM/CDNS-1.2"
ncsim_opts+="
-uvmhome
$UVM_PATH
-sv_lib
$UVM_PATH/additions/sv/lib/64bit/libuvmpli.so
-SV_LIB
$UVM_PATH/additions/sv/lib/64bit/libuvmdpi.so
"
{% endif %}

{% if toplevel %}
if [[ ($# == 1 ) && ($1 == "--gui") ]]; then
  ncsim {{ toplevel }} $ncsim_opts -gui
  exit 0
else
  {% if gen_waves %}
  nc_out=$(ncsim -run {{ toplevel }} $ncsim_opts -input ./nc_waves.tcl 2>&1)
  {% else %}
  nc_out=$(ncsim -run {{ toplevel }} $ncsim_opts 2>&1)
  {% endif %}
  nc_ecode=$?

  if [[ ($nc_ecode != 0) ]]; then
    if [[ ($nc_out == *"ncsim> exit"*) ]]; then
      print_by_line "$nc_out"
      echo 'enzi exit normally'
    else
      printf '%s\n' "$nc_out"
      exit $nc_ecode
    fi
  else
    print_by_line "$nc_out"
  fi
fi
{%- endif %}

