create_project {{ name }}

{% if device_part -%}
set_property part {{ device_part }} [current_project]
{%- endif %}

{% if vlog_params -%}
set_property generic {
  {%- for k, v in vlog_params.items() %}{{ k }}={{ v|value_str_filter }} {% endfor -%}
  } [get_filesets sources_1]
{%- endif %}
