create_project {{ name }} -force

{% if device_part -%}
set_property part {{ device_part }} [current_project]
{%- endif %}

{% if vlog_params -%}
set_property generic {
  {%- for k, v in vlog_params.items() %}{{ k }}={{ v|value_str_filter }} {% endfor -%}
  } [get_filesets sources_1]
{%- endif %}

{% if generics -%}
set_property generic {
  {%- for k, v in generics.items() %}{{ k }}={{ v|value_str_filter(bool_is_str=True) }} {% endfor -%}
  } [get_filesets sources_1]
{%- endif %}

{% if vlog_defines -%}
set_property verilog_define {
  {%- for k, v in vlog_defines.items() %}{{ k }}={{ v|value_str_filter }} {% endfor -%}
  } [get_filesets sources_1]
{%- endif %}

{% for pkg_name, pkg in src_files.items() %}
{{ pkg_name|to_comment }} package
{% for src_file in pkg.files if src_file|src_file_filter %}
{{ src_file|src_file_filter }}
{% endfor %}
{% endfor %}

{% if inc_dirs -%}
set_property include_dirs [list {{ inc_dirs|inc_dir_filter }}] [get_filesets sources_1]
{%- endif %}

{% if toplevel -%}
set_property top {{ toplevel }} [current_fileset]
set_property source_mgmt_mode None [current_project]

{%- endif %}

{% if has_xci -%}
upgrade_ip [get_ips]
generate_target all [get_ips]
{%- endif %}
