NAME := {{ name }}

all: $(NAME).bit

$(NAME).bit:  $(NAME)_run.tcl $(NAME).xpr
	vivado -mode batch -source $^

$(NAME).xpr: $(NAME).tcl
	vivado -mode batch -source $<

build-gui: $(NAME).xpr
	vivado $<

$(NAME).runs/synth_1: $(NAME)_synth.tcl $(NAME).xpr
	vivado -mode batch -source $^

synth: $(NAME).runs/synth_1

program_device: $(NAME)_pgm.tcl $(NAME).bit
	vivado -mode batch -source $< $(NAME).xpr

clean:
	### project synth
	rm -rf $(NAME).runs
	rm -rf $(NAME).cache
	rm -rf $(NAME).hw
	rm -rf $(NAME).ip_user_files
	rm -rf $(NAME).bit
