link_libs = 

{% if link_libs %}
{% for lib in link_libs %}
link_libs += -lib {{ lib }}
{% endfor %}
{% endif %}

.PHONY: all build compile elaborate run sim run-gui sim-gui clean

all: build

build: compile elaborate

run: build
{% if simulate_log %}
	{% if silence_mode %}
	@vsim -c -do "run -a; exit" -l {{ simulate_log }} -quiet {{ toplevel }}_opt {{ sim_opts }} $(link_libs)
	{% else %}
	@vsim -c -do "run -a; exit" -l {{ simulate_log }} {{ toplevel }}_opt {{ sim_opts }} $(link_libs)
	{% endif %}
{% else %}
	{% if silence_mode %}
	@vsim -c -do "run -a; exit" -l simulate.log -quiet {{ toplevel }}_opt {{ sim_opts }} $(link_libs)
	{% else %}
	@vsim -c -do "run -a; exit" -l simulate.log {{ toplevel }}_opt {{ sim_opts }} $(link_libs)
	{% endif %}
{% endif %}

run-gui: build
{% if simulate_log %}
	{% if silence_mode %}
	@vsim -gui -do vsim-gui.tcl -l {{ simulate_log }} -quiet {{ sim_opts }} $(link_libs)
	{% else %}
	@vsim -gui -do vsim-gui.tcl -l {{ simulate_log }} {{ sim_opts }} $(link_libs)
	{% endif %}
{% else %}
	{% if silence_mode %}
	@vsim -gui -do vsim-gui.tcl -l simulate.log -quiet {{ sim_opts }} $(link_libs)
	{% else %}
	@vsim -gui -do vsim-gui.tcl -l simulate.log {{ sim_opts }} $(link_libs)
	{% endif %}
{% endif %}

sim: run

sim-gui: run-gui

compile: vsim_compile.sh
{% if compile_log %}
	{% if silence_mode %}
	@./vsim_compile.sh | tee {{ compile_log }} > /dev/null
	@./vsim_exec_check.sh {{ compile_log }}
	{% else %}
	@./vsim_compile.sh | tee {{ compile_log }}
	@./vsim_exec_check.sh {{ compile_log }}
	{% endif %}
{% else %}
	{% if silence_mode %}
	@./vsim_compile.sh | tee compile.log > /dev/null
	@./vsim_exec_check.sh compile.log
	{% else %}
	@./vsim_compile.sh | tee compile.log
	@./vsim_exec_check.sh compile.log
	{% endif %}
{% endif %}

elaborate: vsim_elaborate.sh
{% if elaborate_log %}
	{% if silence_mode %}
	@./vsim_elaborate.sh | tee {{ elaborate_log }} > /dev/null
	@./vsim_exec_check.sh {{ elaborate_log }}
	{% else %}
	@./vsim_elaborate.sh | tee {{ elaborate_log }}
	@./vsim_exec_check.sh {{ elaborate_log }}
	{% endif %}
{% else %}
	{% if silence_mode %}
	@./vsim_elaborate.sh | tee elaborate.log > /dev/null
	./vsim_exec_check.sh elaborate.log
	{% else %}
	@./vsim_elaborate.sh | tee elaborate.log
	@./vsim_exec_check.sh elaborate.log
	{% endif %}
{% endif %}

clean:
	rm work -rf
