#! /bin/bash -f
set -Eeuo pipefail

vlib work

vlog_opts="+cover=bcefsx -incr"
vhdl_opts="+cover=bcefsx "
vlog_defines=""
vhdl_generics=""

sv_input_port="-svinputport=var"

{% if vlog_opts -%}
vlog_opts+=" {{ vlog_opts }} "
{%- endif %}

{% if vhdl_opts -%}
vhdl_opts+=" {{ vhdl_opts }} "
{%- endif %}

{% if vlog_defines -%}
vlog_defines+=" {{ vlog_defines }} "
{%- endif %}

{% if vhdl_generics -%}
vhdl_generics+=" {{ vlog_defines }} "
{%- endif %}

{%- if fileset -%}
{% for file in fileset %}
{#- -#}
{% if file.endswith((".vhd", '.vhdl')) %}
vcom $vhdl_opts $vhdl_generics {{ file }}
{% endif %}
{#- -#}
{% if file.endswith((".sv", '.svh')) %}
vlog $vlog_opts $vlog_defines $sv_input_port -sv {{ file|with_incdirs }}
{% endif %}
{#- -#}
{% if file.endswith((".v", '.vh')) %}
vlog $vlog_opts $vlog_defines {{ file|with_incdirs }}
{% endif %}

{% endfor %}
{% endif %}

