#! /bin/bash -f
set -Eeuo pipefail

vlib work

vlog_opts="+cover=bcefsx -incr"
vhdl_opts="+cover=bcefsx "
vlog_defines=""
vhdl_defines=""

sv_input_port="-svinputport=var"

# include dirs
{% if inc_dirs %}
vlog_opts+="{{ inc_dirs|inc_dirs_filter }}"
{% endif %}

{% if vlog_opts %}
vlog_opts+=" {{ vlog_opts }} "
{% endif %}

{% if vhdl_opts %}
vhdl_opts+=" {{ vhdl_opts }} "
{% endif %}

{% if vlog_defines %}
vlog_defines+=" {{ vlog_defines }} "
{% endif %}

{% if vhdl_defines %}
vhdl_defines+=" {{ vlog_defines }} "
{% endif %}

{%- if fileset %}
{% for file in fileset %}
{#- -#}
{% if file.endswith((".vhd", '.vhdl')) %}
vcom $vhdl_opts $vhdl_defines {{ file }}
{% endif %}
{#- -#}
{% if file.endswith((".sv", '.svh')) %}
vlog $vlog_opts $vlog_defines -sv {{ file }} $sv_input_port
{% endif %}
{#- -#}
{% if file.endswith((".v", '.vh')) %}
vlog $vlog_opts $vlog_defines {{ file }}
{% endif %}
{#- -#}
{% endfor %}
{% endif %}

